<!DOCTYPE html>
<html>
  <head>
    <!--meta data-->
    <title>Atelje Mlin Umetnin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <!-- ############favicon start############## -->
    <link rel="icon" type="image/png" sizes="32x32" href="/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/fav/favicon-16x16.png">
    <!-- ############favicon end ############## --> 
  </head>
  <body> 
    <nav class="navigation">
      <div class="nav-items">
        <ul class="nav_opac">
          <li><a href="/" >domov</a></li>
          <li><a href="/gallery/">galerija</a></li>
          <li><a href="/about/">o meni</a></li>
          <li><a href="/#contact">kontakt</a></li>
        </ul>
      </div>     
    </nav>

    <div class="header_success"> 
    </div>
    

    <div id="header-text" class="header-text">
      <div class="container">
        <p class="h2_head">Zahvaljujemo se vam za Vaše sporočilo</p>
        <p style="font-family: Mo_ExtraBold">________________________________</p>
      </div>
    </div>
    <div class ="go_to_izdelki" style="padding-right: 15%">
      <a class="a_arrow" href="/">
        <p class="nazaj_arrow">nazaj<i  ></i></p>
        <p><i class="arrow" style="-webkit-transform: rotate(135deg)"></i></p>
        <p><i class="arrow" style="-webkit-transform: rotate(135deg)"></i></p>
      </a>
    </div>
  </body>
</html>
















