

<div class="container_footer">
  <div class="container">
    <div class="footer_content">
      <div class="footer_info">

        <!-- <h2 class="foot_name">MARIJA GRAČNAR</h2> -->
        <h2 class="foot_name">MARIJA GRAČNAR</h2>


        <address class="foot_line">
          <p class="foot_initials">T</p>
          <a href="tel:+38631393290"><p class="foot_infos">+386 31 393 290</p></a>
        </address>

        <address class="foot_line">
          <p class="foot_initials">E</p>
          <a href="mailto:mlinumetnin@gmail.com"><p class="foot_infos">mlinumetnin@gmail.com</p></a>
        </address>

        <address class="foot_line_last">
          <p class="foot_initials">N</p>
          <a href="https://www.google.com/maps/place/Osredek+18,+3230+%C5%A0entjur/@46.1810877,15.3693168,17z/data=!3m1!4b1!4m5!3m4!1s0x4765760e4aa76b0f:0x8ffb557920aab477!8m2!3d46.1810877!4d15.3715055"><p class="foot_infos">Osredek 18, 3230 ŠENTJUR</p></a>
        </address>




        <div>      
          <div class="social-icons">
            <a href="https://www.facebook.com/mlinumetnin" class="fa fa-facebook"></a>
          </div>
        </div>
      </div>

      <div class="footer_logo">
          <img src= "{{ url_for('static', filename= '/images/Atelje-mlin-umetnin-footer-logo.png') }}" alt="logotip" class="logotip">
      </div>

    </div>
  </div>
</div>



