<!DOCTYPE html>
<html>
  <head>
    <!--meta data-->
    <title>Atelje Mlin Umetnin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Lončarstvo, Šentjur pri Celju lončar, tradicionalni ločarski izdelki, lončena posoda, tradicija, lončeni izdelki, Marija Gračnar lončarstvo, Atelje Mlin Umetnin, Mlin Umetnin, keramika, unikatni ročni izdelki, Marija Gračnar" />
    <meta name="description" content="Lončarstvo Atelje Mlin Umetnin,  Kakovostna keramika izpod rok tradicije" />




    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    

    <!-- ############favicon start############## -->
    <link rel="icon" type="image/png" sizes="32x32" href="/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/fav/favicon-16x16.png">
    <!-- ############favicon end ############## -->

  </head>
  <body> 
    {% block content %}{% endblock %}

    {% include 'particials/contact_form.html' %}
    {% include 'particials/footer.html' %}

    

  </body>
</html>
